h1{
    color: rgb(30, 54, 192);
    padding: 5px 5px 5px 350px;
    margin: 10px;
    display: inline;
}

.slogan {
    color:black;
    font-size: 30px;
    margin: 10px;
    padding: 0px 0px 10px 500px ;
    background-color: chartreuse;
    display: block;
    }

.frase {
    color: rgb(252, 10, 10);
    font-size: 50px;
    margin: 50px;
    padding: 15px 5px 5px 35px;
}
.siga-redes {
    color: green;
    font-size: 30px;
    margin: 100px;
}

.nome-empresa{
    color: rgb(30, 54, 192);
    padding: 5px 5px 5px 350px;
    margin: 30px;
    display: inline;
    font-size: 40px;
}